nav{
	/*overflow: hidden;*/
	position: fixed;
	top:0 ;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #dFfF00;
	height: 80px;
	box-shadow: 0px 2px 5px grey;

}

nav *{
	background-color: #dFfF00;
}

nav li, a{
	font-family: roboto;
	font-size: 25px;
	text-decoration: none;
	color: black;
}


.nav-logo img{
 width:200px;
 height: 50px;
}


nav li{
	display: inline-block;
	padding: 5px 20px;
	list-style:none;
}

.nav-elems{
	min-width: 575px;
}

.nav-elems a{
	padding: 0px 5px;
	border-left-style: solid;
	border-color: limegreen;
	border-width: 5px;
	
	/*gradien animation*/
	background-image: linear-gradient(greenyellow, greenyellow);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
	transition: background-size .5s, color .5s;
}

.nav-elems a:hover{
	background-size: 100% 100%;
	
}

.nav-elem-dropdown{
	display:none;
	position: absolute;
	background-color: #FFffFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 0px 5px;
	z-index: 1;
  
	border-left-style: solid;
	border-color: #80FF80;
	border-width: 5px;
	
	font-size: 20px;
}

.nav-elem-dropdown *{
	background-color: #FFffFF;
}

.nav-elems li:hover .nav-elem-dropdown{
	display:block;
	
}